<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.qcc.mapper.DefaultpercentMapper" >
  <resultMap id="BaseResultMap" type="cn.com.qcc.pojo.Defaultpercent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="descname" property="descname" jdbcType="VARCHAR" />
    <result column="centnum" property="centnum" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, descname, centnum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.qcc.pojo.DefaultpercentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from defaultPercent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from defaultPercent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from defaultPercent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.qcc.pojo.DefaultpercentExample" >
    delete from defaultPercent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.qcc.pojo.Defaultpercent" >
    insert into defaultPercent (id, descname, centnum
      )
    values (#{id,jdbcType=INTEGER}, #{descname,jdbcType=VARCHAR}, #{centnum,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.qcc.pojo.Defaultpercent" >
    insert into defaultPercent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="descname != null" >
        descname,
      </if>
      <if test="centnum != null" >
        centnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="descname != null" >
        #{descname,jdbcType=VARCHAR},
      </if>
      <if test="centnum != null" >
        #{centnum,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.qcc.pojo.DefaultpercentExample" resultType="java.lang.Integer" >
    select count(*) from defaultPercent
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update defaultPercent
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.descname != null" >
        descname = #{record.descname,jdbcType=VARCHAR},
      </if>
      <if test="record.centnum != null" >
        centnum = #{record.centnum,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update defaultPercent
    set id = #{record.id,jdbcType=INTEGER},
      descname = #{record.descname,jdbcType=VARCHAR},
      centnum = #{record.centnum,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.qcc.pojo.Defaultpercent" >
    update defaultPercent
    <set >
      <if test="descname != null" >
        descname = #{descname,jdbcType=VARCHAR},
      </if>
      <if test="centnum != null" >
        centnum = #{centnum,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.qcc.pojo.Defaultpercent" >
    update defaultPercent
    set descname = #{descname,jdbcType=VARCHAR},
      centnum = #{centnum,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  
  
   <select id="centNumIsZeroNetGet"  resultType="double" >
   			SELECT centnum from defaultPercent where id = 1
   </select>
   
    <select id="canJiaNum"  resultType="double" >
   			SELECT centnum from defaultPercent where id = 2
   </select>
   
   <select id="zhuanzhiNum"  resultType="double" >
   			SELECT centnum from defaultPercent where id = 3
   </select>
   
   <select id="jianzhiNum"  resultType="double" >
   			SELECT centnum from defaultPercent where id = 4
   </select>
   
     <select id="centNumIsZeroDingjinGet"  resultType="double" >
   			SELECT centnum from defaultPercent where id = 5
   </select>
</mapper>