<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.qcc.mapper.HistorymeterHousepayMapper" >
  <resultMap id="BaseResultMap" type="cn.com.qcc.pojo.HistorymeterHousepayKey" >
    <id column="historymeterid" property="historymeterid" jdbcType="BIGINT" />
    <id column="housepayid" property="housepayid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    historymeterid, housepayid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.qcc.pojo.HistorymeterHousepayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from historymeter_housepay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.com.qcc.pojo.HistorymeterHousepayKey" >
    delete from historymeter_housepay
    where historymeterid = #{historymeterid,jdbcType=BIGINT}
      and housepayid = #{housepayid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.qcc.pojo.HistorymeterHousepayExample" >
    delete from historymeter_housepay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.qcc.pojo.HistorymeterHousepayKey" >
    insert into historymeter_housepay (historymeterid, housepayid)
    values (#{historymeterid,jdbcType=BIGINT}, #{housepayid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.qcc.pojo.HistorymeterHousepayKey" >
    insert into historymeter_housepay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="historymeterid != null" >
        historymeterid,
      </if>
      <if test="housepayid != null" >
        housepayid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="historymeterid != null" >
        #{historymeterid,jdbcType=BIGINT},
      </if>
      <if test="housepayid != null" >
        #{housepayid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.qcc.pojo.HistorymeterHousepayExample" resultType="java.lang.Integer" >
    select count(*) from historymeter_housepay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update historymeter_housepay
    <set >
      <if test="record.historymeterid != null" >
        historymeterid = #{record.historymeterid,jdbcType=BIGINT},
      </if>
      <if test="record.housepayid != null" >
        housepayid = #{record.housepayid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update historymeter_housepay
    set historymeterid = #{record.historymeterid,jdbcType=BIGINT},
      housepayid = #{record.housepayid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>