<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
	http://www.springframework.org/schema/jms
    http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">
	
	 <!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供
    <bean id="connectinFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
          <property name="brokerURL" value="tcp://localhost:61616" />
    </bean> -->
    <!-- 1.ActiveMQ的连接工厂 -->
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://127.0.0.1:61616" />
	</bean>
	<!-- 2.Spring Caching连接工厂 -->
	<bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="targetConnectionFactory"></property>
		<!-- Session缓存数量 -->
		<property name="sessionCacheSize" value="50" />
	</bean>
	<!-- 3.队列模板 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="receiveTimeout" value="10000" />
	</bean>
	
	<!--   ====================================  和求租相关的消息   ======================================================= -->
	<!-- 求租被更新或者信息 -->
	<bean id="qiuzuAddOrUpdate" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="qiuzuAddOrUpdate" />
	</bean>  
	<!-- 监听求租的更新状态  求租被更新或者信息   -->
	<bean id="qiuzuAddorUpdateMess" class="cn.com.qcc.tenement.mqmess.qiuzuAddOrUpdateMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="qiuzuAddOrUpdate" />
		<property name="messageListener" ref="qiuzuAddorUpdateMess" />
	</bean> 
	
	
	<!-- 进入求租详情 -->
	<bean id="qiuzuSearch" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="qiuzuSearch" />
	</bean>
	<bean id="qiuzuSearchMess" class="cn.com.qcc.tenement.mqmess.QiuzuSearchMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="qiuzuSearch" />
		<property name="messageListener" ref="qiuzuSearchMess" />
	</bean>
	
	<!-- 求租状态改变  -->
	<bean id="qiuzuChange" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="qiuzuChange" />
	</bean>
	<bean id="qiuzuChangeMess" class="cn.com.qcc.tenement.mqmess.QiuZuStateChangeMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="qiuzuChange" />
		<property name="messageListener" ref="qiuzuChangeMess" />
	</bean>
	
	
	<!--  ================================================房源相关 ========================================= -->
	<!-- 房源被更新或者信息 -->
	<bean id="houseAddOrUpdate" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="houseAddOrUpdate" />
	</bean>  
	<!-- 监听房源的更新状态  求租被更新或者信息   	-->
	<bean id="houseAddOrUpdateMess" class="cn.com.qcc.tenement.mqmess.HouseAddOrUpdateMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseAddOrUpdate" />
		<property name="messageListener" ref="houseAddOrUpdateMess" />
	</bean> 
	
	
	<!-- 批量录入房源 -->
	<bean id="houseAddBatch" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="houseAddBatch" />
	</bean>  
	<!-- 监听房源的更新状态  求租被更新或者信息   	-->
	<bean id="houseAddBatchMess" class="cn.com.qcc.tenement.mqmess.HouseAddBacthMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseAddBatch" />
		<property name="messageListener" ref="houseAddBatchMess" />
	</bean> 
	
	
	<!-- 房源出售新增或者编辑 -->
	<bean id="houseSaleAddOrUpdate" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="houseSaleAddOrUpdate" />
	</bean>  
	<!-- 监听房源的更新状态  求租被更新或者信息   	-->
	<bean id="houseSaleAddOrUpdateMess" class="cn.com.qcc.tenement.mqmess.HouseSaleAddOrUpdateMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseSaleAddOrUpdate" />
		<property name="messageListener" ref="houseSaleAddOrUpdateMess" />
	</bean> 
	
	<!-- 改变房子状态 -->
	<bean id="updateHousestates" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="updateHousestates" />
	</bean>  
	<!-- 改变房子状态 收到消息 -->
	<bean id="updateHousestatesMess" class="cn.com.qcc.tenement.mqmess.UpdateHouseStatusMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="updateHousestates" />
		<property name="messageListener" ref="updateHousestatesMess" />
	</bean> 
	
	
	<!-- 进入房源详情-->
	<bean id="houseSearch" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="houseSearch" />
	</bean>  
	<!-- 监听房源的更新状态  求租被更新或者信息   	-->
	<bean id="houseSearchMess" class="cn.com.qcc.tenement.mqmess.HouseSearchMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseSearch" />
		<property name="messageListener" ref="houseSearchMess" />
	</bean> 
	
	
	<!-- ====================================  楼栋相关模板消息=========================================== -->
	<!-- 新增楼栋的监听-->
	<bean id="builAdd" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="builAdd" />
	</bean>  
	<!-- 监听房源的更新状态  求租被更新或者信息   	-->
	<bean id="builAddMess" class="cn.com.qcc.tenement.mqmess.BuilAddMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="builAdd" />
		<property name="messageListener" ref="builAddMess" />
	</bean> 
	
	
	<!-- 楼栋查询的监听-->
	<bean id="builSearch" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="builSearch" />
	</bean>  
	<!-- 监听房源的更新状态  求租被更新或者信息   	-->
	<bean id="builsearchMess" class="cn.com.qcc.tenement.mqmess.BuilSearchMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="builSearch" />
		<property name="messageListener" ref="builsearchMess" />
	</bean> 
	
	
	
	<!-- =================================部落发布物品======================================= -->
	<bean id="tribeDetailAdd" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="tribeDetailAdd" />
	</bean>  
	<!-- 监听房源的更新状态  求租被更新或者信息   	-->
	<bean id="tribeDetailAddMess" class="cn.com.qcc.tenement.mqmess.TribeDetailAddMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="tribeDetailAdd" />
		<property name="messageListener" ref="tribeDetailAddMess" />
	</bean> 
	
	<!-- 监听部落查询 -->
	<bean id="tribeSearch" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="tribeSearch" />
	</bean>  
	<bean id="tribeSearchMess" class="cn.com.qcc.tenement.mqmess.TribeSearchMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="tribeSearch" />
		<property name="messageListener" ref="tribeSearchMess" />
	</bean> 
	
	
	<!-- 进入物品找人详情。。。。 -->
	<bean id="searchDetail" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="searchDetail" />
	</bean>  
	<bean id="searchDetailMess" class="cn.com.qcc.tenement.mqmess.searchDetailMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="searchDetail" />
		<property name="messageListener" ref="searchDetailMess" />
	</bean> 
	
	
	
	<!-- 物品或者房子挂在  部落 -->
	<bean id="detailToTribe" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="detailToTribe" />
	</bean>  
	<bean id="detailToTribeMess" class="cn.com.qcc.tenement.mqmess.DetailToTribeMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="detailToTribe" />
		<property name="messageListener" ref="detailToTribeMess" />
	</bean> 
	
	
	
	<!-- 用户修改了信息 -->
	<bean id="userUpdate" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="userUpdate" />
	</bean>  
	<bean id="userUpdateMess" class="cn.com.qcc.tenement.mqmess.UserUpateMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="userUpdate" />
		<property name="messageListener" ref="userUpdateMess" />
	</bean> 
	
	
	
	<!-- 上传图片后删除本地图片 -->
	<bean id="deletepicture" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="deletepicture" />
	</bean>  
	<bean id="deletepictureMess" class="cn.com.qcc.tenement.mqmess.PictureDeleteMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="deletepicture" />
		<property name="messageListener" ref="deletepictureMess" />
	</bean> 
	
	
	<!-- 后台编辑楼栋后更新索引库 -->
	<bean id="builUpdate" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="builUpdate" />
	</bean>  
	<bean id="builUpdateMess" class="cn.com.qcc.tenement.mqmess.BuilUpdateMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="builUpdate" />
		<property name="messageListener" ref="builUpdateMess" />
	</bean> 
	
	
	<!-- 根据楼栋id同步房源信息 -->
	<bean id="updateHouseByBuildingid" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="updateHouseByBuildingid" />
	</bean>  
	<bean id="updateHouseByBuildingidMess" class="cn.com.qcc.tenement.mqmess.UpdateHouseByBuildingIdMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="updateHouseByBuildingid" />
		<property name="messageListener" ref="updateHouseByBuildingidMess" />
	</bean> 
	
	
	
		<!-- 拉入时候同步好友关系 -->
	<bean id="groupLaren" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="groupLaren" />
	</bean>  
	<bean id="groupLarenMess" class="cn.com.qcc.tenement.mqmess.GroupLarenMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="groupLaren" />
		<property name="messageListener" ref="groupLarenMess" />
	</bean> 
	
	
	<!-- 发布一条小区导入索引库 -->
	<bean id="villageAdd" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="villageAdd" />
	</bean>  
	<bean id="villageAddMess" class="cn.com.qcc.tenement.mqmess.VillageAddMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="villageAdd" />
		<property name="messageListener" ref="villageAddMess" />
	</bean> 
</beans>