<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
	http://www.springframework.org/schema/jms
    http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">
	
   
	
	<!--    =========================  消费者   =============================    -->
	
	
	
	<!--   ====================================  和求租相关的消息   ======================================================= -->
	<!-- 监听求租的更新状态  求租被更新或者信息   ==== NO.1  求租被更新或者信息 --> 
	<bean id="qiuzuAddorUpdateMess" class="cn.com.qcc.tenement.mqmess.qiuzuAddOrUpdateMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="qiuzuAddOrUpdate" />
		<property name="messageListener" ref="qiuzuAddorUpdateMess" />
	</bean> 
	
	
	<!-- 进入求租详情  ==== NO.2 进入求租详情 -->
	<bean id="qiuzuSearchMess" class="cn.com.qcc.tenement.mqmess.QiuzuSearchMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="qiuzuSearch" />
		<property name="messageListener" ref="qiuzuSearchMess" />
	</bean>
	
	<!-- 求租状态改变  ====  NO.3 求租状态改变 -->
	<bean id="qiuzuChangeMess" class="cn.com.qcc.tenement.mqmess.QiuZuStateChangeMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="qiuzuChange" />
		<property name="messageListener" ref="qiuzuChangeMess" />
	</bean>
	
	
	<!--  ================================================房源相关 ========================================= -->
	<!-- 监听房源的更新状态  求租被更新或者信息  NO.4  房源被更新或者信息  	-->
	<bean id="houseAddOrUpdateMess" class="cn.com.qcc.tenement.mqmess.HouseAddOrUpdateMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseAddOrUpdate" />
		<property name="messageListener" ref="houseAddOrUpdateMess" />
	</bean> 
	
	
	<!-- 监听房源的更新状态  求租被更新或者信息  ====  NO.5  批量录入房源 	-->
	<bean id="houseAddBatchMess" class="cn.com.qcc.tenement.mqmess.HouseAddBacthMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseAddBatch" />
		<property name="messageListener" ref="houseAddBatchMess" />
	</bean> 
	
	
	<!-- 监听房源的更新状态  求租被更新或者信息 ====  NO.6 房源出售新增或者编辑  	-->
	<bean id="houseSaleAddOrUpdateMess" class="cn.com.qcc.tenement.mqmess.HouseSaleAddOrUpdateMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseSaleAddOrUpdate" />
		<property name="messageListener" ref="houseSaleAddOrUpdateMess" />
	</bean> 
	
	<!-- 改变房子状态 收到消息  ====  NO.7  改变房子状态  -->
	<bean id="updateHousestatesMess" class="cn.com.qcc.tenement.mqmess.UpdateHouseStatusMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="updateHousestates" />
		<property name="messageListener" ref="updateHousestatesMess" />
	</bean> 
	
	
	<!-- 监听房源的更新状态  求租被更新或者信息   ==== NO.8  进入房源详情	-->
	<bean id="houseSearchMess" class="cn.com.qcc.tenement.mqmess.HouseSearchMessage"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="houseSearch" />
		<property name="messageListener" ref="houseSearchMess" />
	</bean> 
	
	
	<!-- ====================================  楼栋相关模板消息=========================================== -->
	<!-- 监听楼栋新增的消息  ==== NO.9 新增楼栋的监听  	-->
	<bean id="builAddMess" class="cn.com.qcc.tenement.mqmess.BuilAddMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="builAdd" />
		<property name="messageListener" ref="builAddMess" />
	</bean> 
	
	
	<!-- 监听房源的更新状态  求租被更新或者信息   === NO.10 楼栋查询的监听 	-->
	<bean id="builsearchMess" class="cn.com.qcc.tenement.mqmess.BuilSearchMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="builSearch" />
		<property name="messageListener" ref="builsearchMess" />
	</bean> 
	
	
	
	<!-- =================================部落发布物品======================================= -->
	<!-- 监听房源的更新状态  求租被更新或者信息   ====  NO.11 部落发布物品 	-->
	<bean id="tribeDetailAddMess" class="cn.com.qcc.tenement.mqmess.TribeDetailAddMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="tribeDetailAdd" />
		<property name="messageListener" ref="tribeDetailAddMess" />
	</bean> 
	
	<!-- 监听部落查询  ====  NO.12 监听部落查询-->
	<bean id="tribeSearchMess" class="cn.com.qcc.tenement.mqmess.TribeSearchMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="tribeSearch" />
		<property name="messageListener" ref="tribeSearchMess" />
	</bean> 
	
	
	<!-- 进入物品找人详情 =====  NO.13  进入物品找人详情 -->
	<bean id="searchDetailMess" class="cn.com.qcc.tenement.mqmess.searchDetailMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="searchDetail" />
		<property name="messageListener" ref="searchDetailMess" />
	</bean> 
	
	
	
	<!-- 物品或者房子挂在  部落  ==== NO.14 物品或者房子挂在  部落  -->
	<bean id="detailToTribeMess" class="cn.com.qcc.tenement.mqmess.DetailToTribeMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="detailToTribe" />
		<property name="messageListener" ref="detailToTribeMess" />
	</bean> 
	
	
	
	<!-- 用户修改了信息  ==== NO.15 用户修改了信息 -->
	<bean id="userUpdateMess" class="cn.com.qcc.tenement.mqmess.UserUpateMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="userUpdate" />
		<property name="messageListener" ref="userUpdateMess" />
	</bean> 
	
	
	
	
	
	<!-- 后台编辑楼栋后更新索引库  ====  NO.17 楼栋编辑 -->
	<bean id="builUpdateMess" class="cn.com.qcc.tenement.mqmess.BuilUpdateMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="builUpdate" />
		<property name="messageListener" ref="builUpdateMess" />
	</bean> 
	
	
	<!-- 根据楼栋id同步房源信息 ===  NO.18 根据楼栋id编辑房子 -->
	<bean id="updateHouseByBuildingidMess" class="cn.com.qcc.tenement.mqmess.UpdateHouseByBuildingIdMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="updateHouseByBuildingid" />
		<property name="messageListener" ref="updateHouseByBuildingidMess" />
	</bean> 
	
	
	
	<!-- 拉入时候同步好友关系 ==== NO.19 群组啦人 -->
	<bean id="groupLarenMess" class="cn.com.qcc.tenement.mqmess.GroupLarenMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="groupLaren" />
		<property name="messageListener" ref="groupLarenMess" />
	</bean> 
	
	
	<!-- 发布一条小区导入索引库   NO.20 发布一条小区导入索引库  -->
	<bean id="villageAddMess" class="cn.com.qcc.tenement.mqmess.VillageAddMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="villageAdd" />
		<property name="messageListener" ref="villageAddMess" />
	</bean> 
	
	
	<!-- 用户交租收到消息发送短信   NO.22 租客交房租   -->
	<bean id="userPayHouseAccountMess" class="cn.com.qcc.tenement.mqmess.UserPayHouseAccountMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="userPayHouseAccount" />
		<property name="messageListener" ref="userPayHouseAccountMess" />
	</bean> 
</beans>