<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
	http://www.springframework.org/schema/jms
    http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">
	
   
	
	<!--    =========================  消费者   =============================    -->
	
	
	
	<!-- 房东发布租约发送模板消息    === NO.21 房东发布租约 --> 
	<bean id="userCentCreateMess" class="cn.com.qcc.managerclient.message.UserCentCreateMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="userCentCreate" />
		<property name="messageListener" ref="userCentCreateMess" />
	</bean> 
	
	
	<!-- 退房收到模板消息 --> 
	<bean id="roomOutMess" class="cn.com.qcc.managerclient.message.RoomOutMess"/>
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="roomOut" />
		<property name="messageListener" ref="roomOutMess" />
	</bean> 
	
	
	
</beans>