<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.qcc.mymapper.LandLordCustomerMapper" >

	<select id="landloadsearch" resultType="cn.com.qcc.queryvo.LandlordCustomer">
			SELECT
				landlord.landuserid userid,
				`profile`.identity ,
				`profile`.idpictures,
				IFNULL(`profile`.real_name,'') realname,
				landstate,
				area.`name` address,
				update_time ,
				IFNULL(bdmanager.bdid,'') bdid,
				IFNULL(bdmanager.realname,'') bdname 
			FROM
				landlord
			LEFT JOIN bdmanager ON landlord.bdid = bdmanager.bdid
			LEFT JOIN area ON landlord.`code` = area.`code`
			LEFT JOIN `profile` on `profile`.user_id = landlord.landuserid
			WHERE
				1 = 1
		     <if test="landstate !=null and landstate !='' ">
		    	AND  landlord.landstate  = #{landstate}
		    </if>
		   <if test="pagequery !=null  ">
			limit #{pagequery.pagestart} , #{pagequery.pagesize}
	    </if>
	</select>
	
	
	<select id="landloadsearchCount" resultType="integer">
			SELECT  count(1)
		    from 
			landlord 
		    LEFT JOIN area on landlord.`code` = area.`code`
		    WHERE 1=1 
		    <if test="landstate !=null and landstate !=''">
		    	AND  landlord.landstate  = #{landstate}
		    </if>
	</select>
	
	<!-- 查询房东的信息 -->
	<select id="landloadsearchdetail" resultType="cn.com.qcc.queryvo.LandlordCustomer">
			SELECT
				landlord.landuserid userid,
				IFNULL(`profile`.identity,'')identity,
				`user`.telephone , 
				IFNULL(`profile`.real_name,'')realname,
				IFNULL(landlord.address,'')address ,
				IFNULL(landlord.brandname,'')brandname , 
				IFNULL(landlord.corporate,'')corporate,
				IFNULL(landlord.businessnum,'')businessnum  , 
				IFNULL(landlord.linkman,'')linkman,
                IFNULL(landlord.linkphone,'')linkphone,
				IFNULL(landlord.businesspicture,'') businesspicture , 
				landlord.landstate , 
				area.`name` cityaddress,
				landlord.update_time 
			FROM
				landlord
			LEFT JOIN area ON landlord.`code` = area.`code`
			LEFT JOIN bdmanager on bdmanager.bdid = landlord.bdid 
			LEFT JOIN `user` on user.userid = landlord.landuserid
			LEFT JOIN `profile` on `profile`.user_id = `user`.userid
			WHERE
				landlord.landuserid = #{userid}
	</select>
	
	<!--房东查询管理员的列表 -->
	<select id="listManager" resultType="cn.com.qcc.queryvo.LandlordCustomer">
			SELECT
			IFNULL(`profile`.real_name,`profile`.user_name ) realname ,
			`profile`.user_id userid ,
			`user`.telephone 
		FROM
			landlord_manager
		LEFT JOIN `profile` ON `profile`.user_id = landlord_manager.manageruserid
		LEFT JOIN `user` on `user`.userid = `profile`.user_id
		WHERE
			landlord_manager.landuserid = #{userid}
	</select>
 
</mapper>