<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.qcc.mymapper.UserRoomCustomerMapper" >




	  <!-- 根据电话号码获取房东的登录信息 -->
	  <select id="getLandMess" resultType="cn.com.qcc.queryvo.UserRoomCustomer" parameterType="long">
	  				SELECT 		`user`.`password` ,
				  				 `user`.userid ,
	               				'1' usertype ,
				    			`user`.acctoken ,
	                			`user`.accestoken ,
	                			 landlord.landstate
			    from `user`
				INNER JOIN landlord on `user`.userid = landlord.landuserid
			where `user`.telephone = #{telephone}
	  </select>
	  
	  
	  
	  <!-- 根据电话号码管理的的登录信息 -->
	  <select id="getManagerMess" resultType="cn.com.qcc.queryvo.UserRoomCustomer" parameterType="long">
	  				SELECT           `user`.`password` ,
					  				 `user`.userid ,
		               		        '2' usertype ,
					    			  `user`.acctoken ,
		                	          `user`.accestoken
			 from `user` 
				INNER  JOIN landlord_manager 
				on `user`.userid = landlord_manager.manageruserid
				where `user`.telephone =  #{telephone}
	  </select>
	  
	  
  <!-- 这里是查询押金总和 -->
  <select id="usercentdetailprices" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="string" >
		SELECT SUM(centprices)centprices  from housepay 
		LEFT JOIN payexpert on payexpert.payexpertid = housepay.payexpertid
		where payexpert.usercentid in (
		SELECT usercentid from usercent where usercentnum = #{usercentnum}
		) and  housepay.financeid in (SELECT financeid from finance where fatherid = 6)
  </select>
  
   <!-- 根据租户 的id查询租户的基本信息生成合同 -->
  <select id="usercentdetail" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="string" >
			SELECT MIN(usercent.start_time)start_time ,
					 MAX(usercent.end_time)end_time,
					 usercent.usercentnum ,
					 usercent.userid ,
					 `profile`.real_name realname,
			     `user`.telephone ,
					usercent.houseid ,
					house.house_number,
		      house.floor ,
					apartment.apartmentname ,
		      building.building ,
		      village.villagename
					from usercent 
					LEFT JOIN `profile` on `profile`.user_id = usercent.userid
		      LEFT JOIN `user` on `profile`.user_id = `user`.userid
		      LEFT JOIN house on usercent.houseid = house.houseid
					LEFT JOIN building on house.buildingid = building.buildingid
		      LEFT JOIN apartment on house.apartment_id = apartment.apartmentid
		      LEFT JOIN village on village.villageid = building.villageid
		where usercent.usercentnum = #{usercentnum}
  </select>
  
  
  <!-- 根据租户 的id查询租户的基本信息生成合同 -->
  <select id="usercentdetaillist" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="string" >
			SELECT usercent.start_time,
				 usercent.end_time,
				 usercent.usercentid,
	       ss.fname,
	       rentmodal.rentname ,
	       housepay.centprices ,
	       IFNULL(payother.centprices,'0')currentprices ,
	       usercent.paystyleid ,
		   IFNULL(historycent.historycenturl,'') historycenturl,
	       usercent.centtimes
			from usercent 
		 LEFT JOIN payexpert on payexpert.usercentid = usercent.usercentid
		 INNER JOIN rentmodal on usercent.rentmodalid = rentmodal.rentmodalid 
	   INNER JOIN (SELECT rentmodalid ,rentname fname from rentmodal)ss on rentmodal.fatherid = ss.rentmodalid 
	   INNER JOIN housepay on housepay.payexpertid = payexpert.payexpertid
		 LEFT JOIN (SELECT  SUM(housepay.centprices)centprices , payexpert.usercentid  from housepay
			LEFT JOIN payexpert on payexpert.payexpertid = housepay.payexpertid
		where 
		 housepay.financeid in (SELECT finance.financeid FROM finance where fatherid = 6) GROUP BY payexpert.usercentid)
			payother on payother.usercentid = usercent.usercentid
	  LEFT JOIN historycent on historycent.usercentid = usercent.usercentid
		where usercent.usercentnum = #{usercentnum} and housepay.financeid = 30
  </select>
  
  
  
  
  
    <!-- 根据租户 的id查询租户的基本信息生成合同 -->
  <select id="firstpay" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="long" >
			SELECT housepay.centprices currentprices, finance.categoryname 
			from housepay 
		 LEFT JOIN finance on housepay.financeid = finance.financeid
		 LEFT JOIN payexpert on payexpert.payexpertid = housepay.payexpertid
 		 where payexpert.usercentid = #{usercentid}
	and payexpert.payexpertid = (SELECT MIN(payexpertid) 
	from housepay where usercentid = #{usercentid} )
  </select>
  
  
 
  
  
  
  	<!--根据租约id查询所有的分期信息 -->
	<select id="getPayExpertByuserCentIds" parameterType="java.util.List"
		resultType="cn.com.qcc.queryvo.PayexpertCustomer">
		SELECT * from payexpert where payexpert.usercentid in
		<foreach item="item" collection="idsList" separator="," open="("
			close=")" index="">
			#{item, jdbcType=VARCHAR}
		</foreach>
		ORDER BY payexpert.start_time asc 
	</select>
	
	
	<!--根据 分期id查询账单信息 -->
	<select id="getHousePayByCentIds" parameterType="java.util.List"
		resultType="cn.com.qcc.queryvo.HousepayCustomer">
		SELECT * ,housepay.create_time  needpaytime from housepay 
		LEFT JOIN finance on housepay.financeid = finance.financeid 
		where housepay.payexpertid in 
		<foreach item="item" collection="idsList" separator="," open="("
			close=")" index="">
			#{item, jdbcType=VARCHAR}
		</foreach>
		ORDER BY housepay.create_time asc 
	</select>
	
	
	<!--根据用户id查询租约信息 -->
	<select id="getUserCentsByUserId" parameterType="long" resultType="cn.com.qcc.queryvo.UserCentCustomer">
				SELECT
			usercent.usercentid ,
			usercent.usercentnum ,
			usercent.centtimes ,
			usercent.yaprices ,
			usercent.centprices ,
			usercent.start_time ,
			usercent.end_time ,
			house.house_number ,
			village.villagename,
		  building.building
		FROM
			usercent
			LEFT JOIN house on house.houseid = usercent.houseid
			LEFT JOIN building on building.buildingid = house.buildingid
			LEFT JOIN village on building.villageid = village.villageid
		WHERE
			usercent.userid = #{userid}
		AND usercent.centstate IN (1, 2)
		ORDER BY
			usercentnum,
			usercent.centtimes ASC
	</select>
	
	
	<!--根据 租约编号 查询租约信息 -->
	<select id="getUserCentsByUsercentnum" parameterType="string" resultType="cn.com.qcc.queryvo.UserCentCustomer">
				SELECT
			usercent.usercentid ,
			usercent.usercentnum ,
			usercent.centtimes ,
			usercent.yaprices ,
			usercent.centprices ,
			usercent.start_time ,
			usercent.end_time ,
			house.house_number ,
			village.villagename,
		  building.building
		FROM
			usercent
			LEFT JOIN house on house.houseid = usercent.houseid
			LEFT JOIN building on building.buildingid = house.buildingid
			LEFT JOIN village on building.villageid = village.villageid
		WHERE
			usercent.usercentnum = #{usercentnum}
		AND usercent.centstate IN (1, 2)
		ORDER BY
			usercentnum,
			usercent.centtimes ASC
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	 <!--
	 根据租户 的id查询租户的基本信息生成合同 
  <select id="financialbycentnum" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="string" >
			SELECT usercent.centtimes ,usercent.start_time ,usercent.end_time ,
				usercent.usercentid
			from usercent where usercent.usercentnum = #{usercentid}
  </select>
  这里是查询押金列表 
  <select id="yacentsbycentnum" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="string" >
		SELECT centprices ,finance.categoryname , housepay.create_time needpaytime ,
			housepay.paystate ,housepay.update_time ,housepay.housepayid
		 from housepay 
			LEFT JOIN finance on housepay.financeid = finance.financeid
		where usercentid in (
			SELECT usercentid from usercent where usercentnum = #{usercentnum}
				) and  housepay.financeid in (SELECT financeid from finance where finance.fatherid = 6)
  </select>
    根据租约ID查询分期信息
  <select id="centpayexbyid" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="long" >
			SELECT payexpert.payexpertname ,payexpert.start_time 
	,payexpert.end_time ,payexpert.payexpertid ,
	IFNULL(tts.centprices,'0')centprices
 from payexpert LEFT JOIN housepay on payexpert.payexpertid = housepay.payexpertid
	LEFT JOIN (SELECT SUM(housepay.centprices)centprices ,housepay.payexpertid 
	from housepay where housepay.paystate = 1 GROUP BY housepay.payexpertid)tts on tts.payexpertid = payexpert.payexpertid
	where housepay.usercentid = #{usercentid}  GROUP BY housepay.payexpertid
  </select>
     根据分期ID查询账单信息 
  <select id="housepaylistbyid" resultType="cn.com.qcc.queryvo.UserCentCustomer" parameterType="long" >
		SELECT finance.categoryname ,housepay.create_time needpaytime,
				housepay.centprices ,housepay.paystate,housepay.housepayid
			from housepay 
			LEFT JOIN finance on housepay.financeid = finance.financeid
		where housepay.payexpertid = #{payexpertid}
  </select>
  -->
	


</mapper>